<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kalebhermes.hearthstone</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>30AB0700-F555-499C-A8F5-EA82F0BB2700</key>
		<array/>
		<key>9ADA58D6-99B0-4A95-83BC-E9DD68AADAE0</key>
		<array/>
		<key>A331ED56-558A-4219-98B8-C88B34400E88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30AB0700-F555-499C-A8F5-EA82F0BB2700</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7BD5F36-464B-488A-BA66-E8CE1242D190</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CF0206D-65D0-4074-8067-6850B79C08E6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4E4EBFD-4E75-486A-913F-51D7DF1D8147</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kaleb Hermes</string>
	<key>description</key>
	<string>Search Hearthstone Cards</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hearthstone Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python writeHsApi.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30AB0700-F555-499C-A8F5-EA82F0BB2700</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hssetkey</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Setting...</string>
				<key>script</key>
				<string>python hs_setKey.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set hearthstoneapi key for use in aquiring new cards</string>
				<key>title</key>
				<string>Set Hearthstone API Key</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A331ED56-558A-4219-98B8-C88B34400E88</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hsupdate</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Updating...</string>
				<key>script</key>
				<string>python hs_update.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Hits hearthstoneapi.com to get new cards</string>
				<key>title</key>
				<string>Update Hearthstone Card List</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9ADA58D6-99B0-4A95-83BC-E9DD68AADAE0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1CF0206D-65D0-4074-8067-6850B79C08E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python hs.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Hearthstone Cards</string>
				<key>title</key>
				<string>Hearthstone Card Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D7BD5F36-464B-488A-BA66-E8CE1242D190</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D4E4EBFD-4E75-486A-913F-51D7DF1D8147</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1CF0206D-65D0-4074-8067-6850B79C08E6</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>30AB0700-F555-499C-A8F5-EA82F0BB2700</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>9ADA58D6-99B0-4A95-83BC-E9DD68AADAE0</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>A331ED56-558A-4219-98B8-C88B34400E88</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>D4E4EBFD-4E75-486A-913F-51D7DF1D8147</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>D7BD5F36-464B-488A-BA66-E8CE1242D190</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/kalebhermes/alfred2-hearthstone</string>
</dict>
</plist>
